{% extends "base.html" %}

{% block app_content %}
    <h1>Вход</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <div class="control-group">
            <div class="controls">
                <label class="checkbox" >
                    {{ form.remember_me() }} {{ form.remember_me.label }}
                </label>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input class="btn btn-primary" type="submit" value="Войти">
            </div>
        </div>
    </form>

    <p>Новый пользователь? <a href="{{ url_for('register') }}">Регистрируйся!</a></p>
{% endblock %}